<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionName="1.0" package="com.fourh.recordbook" android:versionCode="3">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="_4H_Application.Android" android:icon="@drawable/ic_add_white">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.fourh.recordbook.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>